@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.logo_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-green-four-bg);
  margin-bottom:1rem ;
  cursor: pointer;
}
.logo_heading span {
  color: var(--color-green-three-bg);
}
.form {
  margin: 4rem auto;
  color: var(--color-text);
  border-radius: 5px;
  border: 3px solid var(--color-white);
  font-family: "Poppins", serif;
  background: var(--color-green-three-bg);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  max-width: 30rem;
  padding: 2rem;
}

.form h2 {
  font-size: 1.8rem;
  margin-bottom: 2.3rem;
  font-weight: 500;
  font-family: "Roboto", serif;
  text-align: center;
  background: -webkit-linear-gradient(
    var(--color-green-six-bg),
    var(--color-green-four-bg)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.input_container {
  margin: 1.6rem 0rem 8px;
}
.input_container input {
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.4)
  );
}
.checkbox {
  margin-right: 5px;
}

.form label {
  font-size: 1rem;
  font-weight: 800;
  user-select: none;
  display: block;
}
.btn {
  margin: 1rem 0;
  width: 50%;
  margin-left: 8rem;
  display: block;
  background: linear-gradient(
    to right top,
    var(--color-green-four-bg),
    var(--color-green-six-bg)
  );
}

.form input {
  box-sizing: border-box;
  outline: none;
  font-size: 0.9rem;
  border: 1px solid var(--color-border);
  padding: 0.3rem 1rem;
  border-radius: 50px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.4)
  );
  cursor: pointer;
  font-weight: 500;
}
.checkbox_container {
  margin: 1rem 0;
  margin-left: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.signup {
  font-size: 1rem;
  margin-left: 5rem;
}
.span_btn {
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
  color: var(--color-text);
}

.name_container {
  display: flex;
  gap: 0.5rem;
}
.name_container > div {
  width: 70%;
}
.remember_me {
  margin-left: 3rem;
}
