.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-light-grey);
  background: var(--color-green-five-bg);
  padding: 0.5rem;
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  max-width: 30rem;
  border-radius: 5px;
  margin-left: 22rem;
}
.search_input {
  border: none;
  width: 80%;
  height: 2rem;
  padding: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}
.notes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
}
