:root{
  --color-green-one-bg:#2AE7F7;
  --color-green-two-bg:#24D6B3;
  --color-green-three-bg:rgb(51, 237, 147);
  --color-green-four-bg:#02b6ed;
  --color-green-five-bg:rgb(27, 248, 147);
  --color-green-six-bg:#4E3DF2;
  --color-white:#FFFF;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
