.icon {
  padding: 1rem;
  cursor: pointer;
  color: var(--ivory-white);
}

.icon:hover {
  border-radius: 50%;
  background-color: var(--grey-background);
}
.note_option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.save_btn:hover {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: var(--color-light-grey);
}
